*.css
assets-gtk2
assets-gtk3
assets-gtk2.svg
assets-gtk3.svg
gtk-3.20
gtk-3.20-compact
gtk-3.20-lumine
gtk-3.20-lumine-compact
gtk-3.20-noir
gtk-3.20-noir-compact
gtk-3.22
gtk-3.22-compact
gtk-3.22-lumine
gtk-3.22-lumine-compact
gtk-3.22-noir
gtk-3.22-noir-compact
gtk-3.24
gtk-3.24-compact
gtk-3.24-lumine
gtk-3.24-lumine-compact
gtk-3.24-noir
gtk-3.24-noir-compact
gtk-4.0
gtk-4.0-compact
gtk-4.0-lumine
gtk-4.0-lumine-compact
gtk-4.0-noir
gtk-4.0-noir-compact
gtk.gresource
_mate_flag.scss
_key_colors.scss
gtkrc
gtkrc-compact
gtkrc-dark
gtkrc-dark-compact
gtkrc-light
gtkrc-light-compact
gnome-shell-theme.gresource
gnome-shell/assets
gnome-shell-compact/assets
gnome-shell-lumine/assets
gnome-shell-lumine-compact/assets
gnome-shell-noir/assets
gnome-shell-noir-compact/assets
workspaces-to-dock/assets
cinnamon/assets
cinnamon-lumine/assets
cinnamon-noir/assets
metacity-1/*.svg
xfwm4/*.png
openbox-3/*.xbm
ColorDeck-light.cdk
ColorDeck-dark.cdk
inkscape.log
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
Makefile
Makefile.in
missing
