//
// Import resources
//

// Import key color-scheme defined at build-time.
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/colors';

colors {
  sel_bg: to-upper-case(#{$sel_bg});

  acc_fg: to-upper-case(#{$acc_fg});
  acc_bg: to-upper-case(#{$acc_bg});
  acc_f1: to-upper-case(#{mix($acc_fg, $bg, percentage($a_trk_1))});
  acc_f2: to-upper-case(#{mix($acc_fg, $bg, percentage($a_trk_2))});

  sgt_bg: to-upper-case(#{$sggt_bg});
  sgt_f1: to-upper-case(#{mix($sel_fg, $sggt_bg, percentage($a_trk_1))});
  sgt_f2: to-upper-case(#{mix($sel_fg, $sggt_bg, percentage($a_trk_2))});

  dst_bg: to-upper-case(#{$dest_bg});
  dst_f1: to-upper-case(#{mix($dest_bg, $bg, percentage($a_trk_1))});
  dst_f2: to-upper-case(#{mix($dest_bg, $bg, percentage($a_trk_2))});
}
