// Selection (Primary) color
$key_selection_color: #3f51b5;

// Accent (Secondary) color
$key_accent_color: #7986cb;

// Suggestion (Secondary) color
$key_suggestion_color: #673ab7;

// Destruction (Tertiary) color
$key_destruction_color: #f44336;
