//
// Import resources
//

// Import key color-scheme defined at build-time.
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/colors';

colors {
  selection: $key_selection_color;

  rb: #{red($key_selection_color)};

  gb: #{green($key_selection_color)};

  bb: #{blue($key_selection_color)};

  accent_label: $acc_fg;

  // round values for selected-label color
  rl: #{round(red($acc_fg))};

  gl: #{round(green($acc_fg))};

  bl: #{round(blue($acc_fg))};
}
