//
// Import resources
//

// Import key color-scheme defined at build-time.
@import '../../../gtk/sass/common/resources/color_palette';
@import '../../../gtk/sass/common/resources/functions';
@import '../../../gtk/sass/common/resources/variables';
@import '../../../gtk/sass/common/colors';

colors {
  selection: to-upper-case(#{$sel_bg});

  rb: #{red($sel_bg)};

  gb: #{green($sel_bg)};

  bb: #{blue($sel_bg)};

  accent_label: to-upper-case(#{$acc_fg});

  // round values for selected-label color
  rl: #{round(red($acc_fg))};

  gl: #{round(green($acc_fg))};

  bl: #{round(blue($acc_fg))};
}
