// Selection (Primary) color
$key_selection_color: #3F51B5;

// Accent (Seondary) color
$key_accent_color: #7986cb;

// Suggestion color
$key_suggestion_color: #009688;

// Destruction (Tertiary) color
$key_destruction_color: #FF5252;
